@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePower-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePower-Medium.ttf");
    font-weight: medium;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePower-Bold.ttf");
    font-weight: bold;
}
html {
    font-size: 15px;
}
@media screen and (max-width: 1840px) {
    html {
      font-size: 14px;
    }
}
@media screen and (max-width: 1710px) {
    html {
      font-size: 12px;
    }
}
@media screen and (max-width: 1600px) {
    html {
      font-size: 9px;
    }
}
@media screen and (max-width: 1150px) {
    html {
      font-size: 7px;
    }
}
@media screen and (max-width: 850px) {
    html {
      font-size: 6px;
    }
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Neue Power;
}
::-webkit-scrollbar{
    display: none;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 46.75rem;
    height: auto;
    padding: 1.9375rem 2.75rem;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: end;
    margin: 20px;
}
.icon{
    text-align: right;
}
.bx{
    font-size: 3rem;
    color: #5447A4;
}
h2{
    font: normal normal bold 3.3125rem/4rem Neue Power;
    letter-spacing: 2.65px;
    color: #2910C6;
    text-align: center;
    margin-bottom: 2.875rem;
}
h3{
    font: normal normal bold 2rem/2.375rem Neue Power;
    letter-spacing: 1.6px;
    color: #000000;
    margin-bottom: 1.875rem;
    text-align: left;
}
.input-box{
    border: 1px solid #2910c6;
    width: 95%;
    height: 3.875rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #2910C6;
    border-radius: 8px;
    padding: 0 1.25rem;
    margin-bottom: 2.125rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.copy{
    width: 1.5625rem;
    height: 1.5625rem;
    position: absolute;
    right: 0.625rem;
    top: 1.25rem;
}
input{
    padding: 0 15rem 0 0;
    border: none;
    outline: none;
}
select{
    border: none;
    outline: none;
    cursor: pointer;
}
::placeholder{
    padding: 0 24rem 0 0;
    letter-spacing: 1.35px;
    color: #A9A9A9;
    font-size: 1.6875rem;
    font-family: Neue power;
}
button{
    width: 11.3125rem;
    height: 3.875rem;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-bottom: 10px;
}
.btn{
    display: flex;
    justify-content: space-between;
}
.btn-1,.btn-2{
    letter-spacing: 1.35px;
    color: #EDEEF9;
    font-size: 1.6875rem;
    font-family: Neue power;
}
.btn-1{
    background-color:  #c61022;
}
.btn-2{
    background-color: #2910c6;
}



