@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePower-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePower-Medium.ttf");
    font-weight: medium;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePower-Bold.ttf");
    font-weight: bold;
}
html {
    font-size: 15px;
}
@media screen and (max-width: 1840px) {
    html {
      font-size: 14px;
    }
}
@media screen and (max-width: 1710px) {
    html {
      font-size: 12px;
    }
}
@media screen and (max-width: 1600px) {
    html {
      font-size: 9px;
    }
}
@media screen and (max-width: 1150px) {
    html {
      font-size: 7px;
    }
}
@media screen and (max-width: 850px) {
    html {
      font-size: 6px;
    }
}
@media screen and (max-width: 470px) {
    html {
      font-size: 5px;
    }
}
@media screen and (max-width: 360px) {
    html {
      font-size: 3px;
    }
}
@media screen and (max-width: 260px) {
    html {
      font-size: 2px;
    }
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Neue Power;
}
::-webkit-scrollbar{
    display: none;
}
header{
    width: 100%;
    padding: 4.0625rem 2.8125rem 10.5625rem 4.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}
.logo{
    width: 3.9375rem;
}
.navbar{
    display: flex;
    align-items: center;
    column-gap: 5rem;
}
.navbar a{
    font: normal normal normal 2.8125rem/3.375rem Neue Power;
    letter-spacing: 0.084375rem;
    color: #121C28;
}
.navbar a.active {
    color: #2910C6;
}
.navbar a:hover{
    color: #2910C6;
}
.icons{
    display: flex;
    column-gap: 1rem;
}
#menu-icon{
    display: none;
}
.bx-menu, .bxs-cog, .bx-x{
    font-size: 3.5rem;
    cursor: pointer;
    color: #2910C6;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 46.75rem;
    height: auto;
    padding: 1.9375rem 2.75rem;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: end;
    margin: 20px;
}
.icon{
    text-align: right;
}
.box h2{
    font: normal normal bold 3.3125rem/4rem Neue Power;
    letter-spacing: 2.65px;
    color: #2910C6;
    text-align: center;
    margin-bottom: 2.875rem;
}
.box h3{
    font: normal normal bold 2rem/2.375rem Neue Power;
    letter-spacing: 1.6px;
    color: #000000;
    margin-bottom: 1.875rem;
    text-align: left;
}
.input-box{
    border: 1px solid #2910c6;
    width: 100%;
    height: 3.875rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #2910C6;
    border-radius: 8px;
    padding: 0 1.25rem;
    margin-bottom: 2.125rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.copy{
    width: 1.5625rem;
    height: 1.5625rem;
    position: absolute;
    right: 1.425rem;
    top: 1.25rem;
}
input{
    border: none;
    outline: none;
    padding: 5px 0 8px;
}
select{
    border: none;
    outline: none;
    cursor: pointer;
}
::placeholder{
    letter-spacing: 1px;
    color: #A9A9A9;
    font-size: 1.4875rem;
    font-family: Neue power;
}
.btn{
    display: flex;
    justify-content: space-between;
}
.btn-1,.btn-2{
    letter-spacing: 1.35px;
    color: #EDEEF9;
    font-size: 1.6875rem;
    font-family: Neue power;
    width: 11.3125rem;
    height: 3.875rem;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-bottom: 10px;
}
.btn-1{
    background-color:  #c61022;
}
.btn-2{
    background-color: #2910c6;
}
@media(max-width:750Px){
    .box{
        width: 100%;
    }
    .container{
        padding: 20px 40px;
    }
    .input-box{
        height: auto;
    }
    .copy{
        top: 8px;
        width: 12px;
        height: auto;
    }
    ::placeholder{
        font-size: 12px;
    }
    .btn-1,.btn-2{
        height: auto;
        width: fit-content;
        padding: 8px 16px;
    }
    .box h2{
        font-size: 14px;
        margin-bottom: 15px;
    }
    .box h3{
        font-size: 12px;
        margin-bottom: 10px;
    }
}
@media(max-width:400px){
    .container{
        padding: 0;
    }
    .input-box{
        margin-bottom: 10px;
    }
    ::placeholder{
        font-size: 10px;
    }
    .box h3{
        font-size: 10px;
        letter-spacing: 0;
    }
    input{
        width: 140px;
        margin-left: 5px;
    }
    .btn{
        display: block;
    }
    .btn-1,.btn-2{
        font-size: 10px;
        width: 100%;
    }
    select{
        margin-right: 5px;
    }
    .bx-x{
        font-size: 18px;
        margin-bottom: 10px;
    }
}

/* bank details */
.detail-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bank-details{
    margin-bottom: 50px;
}
.bank-details h1{
    font: normal normal bold 3.3125rem/4rem Neue Power;
    letter-spacing: 2.65px;
    color: #2910C6;
    margin-bottom: 3.125rem;
}
.detail-box{
    width: 115.8125rem;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #2910C6;
    border-radius: 8px;
    padding: 2.5625rem;
    margin-bottom: 3.375rem;
}
.detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail h6{
    font: normal normal bold 2.375rem/2.875rem Neue Power;
    letter-spacing: 1.9px;
    color: #000000;
    margin-bottom: 4px;
}
.action-btn, .last-update{
    letter-spacing: 1.35px;
    color: #000000;
    font-size: 1.6875rem;
    font-family: Neue power;
    margin-bottom: 1px;
    letter-spacing: 1.35px;
    color: #000000;
}
.name ,.store-name{
    font: normal normal normal 3.125rem/3.75rem Neue Power;
    letter-spacing: 2.5px;
    color: #000000;
    margin-bottom: 4px;
}
.copy-img{
    width: 1.5625rem;
    height: 1.5625rem;
}
.unread-msg{
    position: relative;
    bottom: 1.6375rem;
    left: 1.5375rem;
}
.message{
    width: 4.4875rem;
    height: auto;
    position: relative;
    top: 1.375rem;
}
.card{
    font: normal normal normal 2.3125rem/2.75rem Neue Power;
    letter-spacing: 1.85px;
    color: #4422EF;
    margin-bottom: 4px;
}
.bank{
    font: normal normal normal 2.1875rem/2.625rem Neue Power;
    letter-spacing: 1.75px;
    color: #000000;
}
.bx-pencil, 
.bx-trash
{
    color: #4422EF;
}
.order-completed{
    letter-spacing: 1.35px;
    color: #000000;
    font-size: 1.6875rem;
    background: #E7E3F8 0% 0% no-repeat padding-box;
    border-radius: 13px;
    padding: 5px 10px;
}
.amount{
    letter-spacing: 1.85px;
    font-size: 2.3125rem;
    font-family: neue power;
}
.order-nmbr,.unread-msg{
    font-family: neue power;
    letter-spacing: 1.35px;
    color: #000000;
    font-size: 1.6875rem
}
.add-bank-btn{
    width: 21.25rem;
    height: 3.875rem;
    background: #2910C6 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000052;
    border-radius: 8px;
    font-size: 1.6875rem;
    letter-spacing: 1.35px;
    color: #EDEEF9;
    font-family: Neue power;
    border: none;
    outline: none;
    float: right;
    cursor: pointer;
}

@media(max-width:750px){
    #menu-icon{
        display: block;
    }
    .navbar{
        display: block;
        width: 50%;
        height: 100%;
        position: fixed;
        text-align: center;
        background-color: white;
        top: 8px;
        right: -100%;
        transition: all 0.4s ease-in-out;
        margin-top: -8px;
        z-index: 10;
    }
    .navbar li{
        padding: 20px 0;
    }
    .bank-details{
        width: 100%;
        padding: 20px;
    }
    .detail-box{
        width: 100%;
    }
}
@media(max-width:500px){
    .add-bank-btn{
        width: auto;
        height: auto;
        padding: 8px 16px;
        font-size: 12px;
    }
    .detail-box{
        width: 100%;
        padding: 10px;
    }
    .bank-details{
        padding: 5px;
    }
}
@media(max-width:350px){
    .add-bank-btn{
        padding: 5px 10px;
        font-size: 10px;
        letter-spacing: 0;
    }
}


/* Confirmation */
.confirmation-container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirmation-box{
    width: 54.125rem;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 25px #00000052;
    border-radius: 24px;
    text-align: center;
    padding: 8.125rem;
}
.confirmation-box h2{
    font: normal normal normal 3.3125rem/4rem Neue Power;
    letter-spacing: 2.65px;
    color: #2910C6;
    margin-bottom: 12px;
}
.confirmation-box p{
    letter-spacing: 1.35px;
    font-size: 1.6875rem;
    font-family: neue power;
    color: #121C28;
    margin-bottom: 2.5625rem;
}
.confirmation-box i{
    font-size: 12.5rem;
    color:#13A32F;
}

@media(max-width:360px){
    .confirmation-container{
        padding: 20px;
    }
    .confirmation-box{
        width: 100%;
    }
    .confirmation-box h2{
        font-size: 15px;
    }
    .confirmation-box p{
        font-size: 10px;
    }
    .confirmation-box i{
        font-size: 40px;
    }
}