@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Heavy.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Ultra.ttf");
    font-weight: 100;
}
*{
    padding: 0;
    margin: 0;
    font-family: Neue Power;
}
::-webkit-scrollbar{
    display: none;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 400px;
    height: auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.icon{
    text-align: right;
}
.bx{
    font-size: 24px;
    color: #5447A4;
}
h2{
    color: #2910C6;
    text-align: center;
    margin-bottom: 10px;
}
h3{
    margin-bottom: 10px;
}
.input-box{
    border: 1px solid #2910c6;
    width: 97%;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
}
img{
    width: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
}
input{
    padding: 5px 10px;
    width: 80%;
    border: none;
    outline: none;
}
select{
    border: none;
    outline: none;
    cursor: pointer;
}
::placeholder{
    color: #a9a9a9;;
}
button{
    padding: 10px 20px;
    text-align: center;
    border: none;
    outline: none;
    color: white;
    border-radius: 8px;
    display: block;
    margin: auto;
    width: 160px;
    margin-bottom: 10px;
}
.btn{
    display: flex;
    justify-content: space-between;
}
.btn-1{
    background-color:  #c61022;
}
.btn-2{
    background-color: #2910c6;
}

@media(max-width:480px){
    h2{
        font-size: 20px;
    }
    .btn{
        display: block;
    }
    h3{
        margin-left: 0;
        font-size: 15px;
    }
    button{
        width: 80%;
    }
    .input-box{
        width: 100%;
    }
    input{
        width: 80%;
    }
}
@media(max-width:350px){
    input{
        width: 75%;
    }
    ::placeholder{
        font-size: 12px;
    }
}
/* @media(max-width:270px){
    input{
        width: 100px;
        margin-right: 10px;
    }
} */