@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Heavy.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Ultra.ttf");
    font-weight: 100;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: Neue Power;
}
::-webkit-scrollbar{
    display: none;
}
.container{
    width: 100%;
    height: 100%;
    padding: 30px 50px;
    background: url(../assets/bg.png);
}
.logo{
    display: flex;
    column-gap: 0.5rem;
    margin-bottom: 50px;
    align-items: center;
    margin-left: 8%;
}
.logo img{
    width: 35px;
}
.logo h2{
    color: #121C28;
    margin-top: 8px;
}
.login-sec{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.login-sec h2{
    font-size: 35px; 
    margin-bottom: 10px;
    color: #121C28;
}
.login-sec p{
    font-size: 22px;
    margin-bottom: 10px;
    color: #818384;
}
.login-sec h4{
    font-size: 20px;
    margin-bottom: 10px;
    color: #818384;
}
.login-img img{
    width: 400px;
}
input{
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 300px;
}
::placeholder{
    color: #A7A7A7;
}
.eye{
    width: 17px;
    position: relative;
    left: -30px;
}
button{
    padding: 10px 20px;
    text-align: center;
    display: flex;
    column-gap: 0.5rem;
    cursor: pointer;
    background-color: #4422EF;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    margin: 10px 0;
}

@media(max-width:950px){
    .login-img img{
        width: 300px;
    }
    .logo img{
        width: 40px;
    }
    .login-sec h2{
        font-size: 30px; 
    }
    .login-sec p{
        font-size: 18px;
    }
    .login-sec h4{
        font-size: 18px;
    }
}
@media(max-width:730px){
    .login-img img{
        display: none;
    }
}
@media(max-width:420px){
    .container{
        padding: 10px;
    }
    .logo img{
        width: 20px;
        object-fit: contain;
    }
    .logo h2{
        font-size: 18px;
    }
    .login-sec{
        display: block;
        margin: auto;
    }
    .login-sec h2{
        font-size: 20px; 
    }
    .login-sec p{
        font-size: 14px;
    }
    .login-sec h4{
        font-size: 15px;
    }
    input{
        width: 100%;
    }
    button{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .eye{
        top: -36px;
        left: 93%;
    }
}