@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Heavy.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePowerTrial/NeuePowerTrial-Ultra.ttf");
    font-weight: 100;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Neue Power;
}
body{
    background: url(../assets/bg.png) no-repeat;
}
::-webkit-scrollbar{
    display: none;
}
header{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}
.logo{
    width: 30px;
}
.navbar{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.navbar a{
    font-size: 1.1rem;
    font-weight: 500;
    color: #121C28;
}
.navbar a:hover{
    color: #2910C6;
}
.icons{
    display: flex;
}
#menu-icon{
    display: none;
}
.bx-menu, .bxs-cog, .bx-x{
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
    color: #2910C6;
}
.signup{
    background-color: #2910C6;
    color: white!important;
    border-radius: 5px;
    padding: 5px 10px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
}
.sell-sec{
    background-color: #EEF2FF;
    width: 340px;
    height: 380px;
    padding: 20px;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.23 ));
}
.sell-sec h2{
    margin-bottom: 10px;
    font-size: 30px;
    color: #2910C6;
}
.sell-sec p{
    margin-bottom: 20px;
    color: #121C28;
}
.input-box{
    width: 300px;
    position: relative;
    margin-bottom: 10px;
}
::placeholder{
    color: #A9A9A9;
}
input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.input-box span{
    position: absolute;
    right: 10px;
    top: 10px;
}
button{
    padding: 10px 20px;
    text-align: center;
    background-color: #2910C6;
    border: none;
    outline: none;
    color: white;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
}
.faq-container{
    height: 380px;
    width: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.balance-sec{
    margin-bottom: 30px;
}
.balance-sec img{
    width: 40px;
}
.balance{
    display: flex;
    column-gap: 0.5rem;
}
.balance h2{
    font-size: 35px;
}
.balance-sec p{
    font-size: 24px;
    opacity: 0.7;
    margin-bottom: 5px;
}
.faq-sec h2{
    font-size: 35px;
    margin-bottom: 10px;
    color:   #121c28;
}
.bxs-right-arrow{
    color: #2910C6;
    margin-right: 5px;
}
.faq-sec p{
    margin-bottom: 10px;
    font-size: 22px;
}

@media(max-width:980px){
    .faq-sec p{
        font-size: 20px;
    }
    .faq-sec h2{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .balance-sec img{
        width: 30px;
    }
    .balance h2{
        font-size: 30px;
    }
    .balance-sec p{
        font-size: 20px;
        opacity: 0.7;
    }
}
@media(max-width:800px){
    #menu-icon{
        display: block;
    }
    .navbar{
        display: block;
        width: 50%;
        height: 100%;
        position: fixed;
        text-align: center;
        background-color: white;
        top: 8px;
        right: -100%;
        transition: all 0.4s ease-in-out;
        margin-top: -8px;
        z-index: 999;
    }
    .navbar li{
        padding: 20px 0;
    }
} 

@media(max-width:780px){
    .container, .faq-container, .sell-sec{
        height: auto;
    }
    header{
        margin-bottom: 30px;
    }
    .container, .sell-sec{
        display: block;
        margin: auto;
    }
    .faq-sec h2{ 
        text-align: center;
    }
    .sell-sec{
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
    }
    .input-box, input{
        width: 100%;
    }
}
@media(max-width:400px){
    .sell-sec h2{
        font-size: 20px;
    }
    .sell-sec p{
        font-size: 12px;
    }
    .balance h2{
        font-size: 30px;
    }
    .balance-sec p{
        font-size: 20px;
    }
    .faq-sec h2{
        font-size: 20px;
    }
    .faq-sec p{
        font-size: 15px;
    }
}
@media(max-width:270px){
    .sell-sec h2{
        font-size: 18px;
    }
    .sell-sec p{
        font-size: 12px;
    }
    .balance h2{
        font-size: 22px;
    }
    .balance-sec p{
        font-size: 15px;
    }
    .faq-sec h2{
        font-size: 16px;
    }
    .faq-sec p{
        font-size: 12px;
    }
    
}