@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePower-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePower-Medium.ttf");
    font-weight: medium;
}

@font-face {
    font-family: "Neue Power";
    src: url("../fonts/NeuePower-Bold.ttf");
    font-weight: bold;
}
html {
    font-size: 15px;
}
@media screen and (max-width: 1840px) {
    html {
      font-size: 14px;
    }
}
@media screen and (max-width: 1710px) {
    html {
      font-size: 12px;
    }
}
@media screen and (max-width: 1600px) {
    html {
      font-size: 9px;
    }
}
@media screen and (max-width: 1150px) {
    html {
      font-size: 7px;
    }
}
@media screen and (max-width: 850px) {
    html {
      font-size: 6px;
    }
}


*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Neue Power;
}
::-webkit-scrollbar{
    display: none;
}
header{
    width: 100%;
    padding: 4.0625rem 2.8125rem 10.5625rem 4.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}
.top-container {
    background: url(../assets/bg.png);
    background-size: cover;
}
.logo{
    width: 3.9375rem;
}
.navbar{
    display: flex;
    align-items: center;
    column-gap: 5rem;
}
.navbar a{
    font: normal normal normal 2.8125rem/3.375rem Neue Power;
    letter-spacing: 0.084375rem;
    color: #121C28;
}
.navbar a.active {
    color: #2910C6;
}
.navbar a:hover{
    color: #2910C6;
}
.icons{
    display: flex;
    column-gap: 1rem;
}
#menu-icon{
    display: none;
}
.bx-menu, .bxs-cog, .bx-x{
    font-size: 3.5rem;
    cursor: pointer;
    color: #2910C6;
}
.signup{
    border-radius: 0.5rem;
    padding: 1.0625rem 4rem;
    font: normal normal normal 1.75rem/2.125rem Neue Power;
    letter-spacing: 0.0875rem;
    color: #EDEEF9!important;
    background: #2910C6 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 0.375rem #00000052;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.8125rem 0px 8.6875rem;
    gap: 128px;
    flex-direction: column;
}
.sell-sec{
    width: 50%;
    height: auto;
    padding: 5.5625rem 4.78515625rem 1.875rem 4.78515625rem;
    background: #EEF2FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 0.9375rem #0000003B;
    border-radius: 1.5rem;
    margin-bottom: 8.6875rem;
}
.sell-sec h2{
    margin-bottom: 0.9375rem;
    font: normal normal normal 3rem/3.625rem Neue Power;
    letter-spacing: 0.15rem;
    color: #2910C6;
}
.sell-sec h5{
    font: normal normal bold 2rem/2.375rem Neue Power;
    letter-spacing: 1.6px;
    color: #000000;
}
.sell-sec h3{
    font: normal normal bold 2rem/2.375rem Neue Power;
    letter-spacing: 1.6px;
    color: #000000;
    margin-bottom: 10px;
}
.sell-sec p{
    font-weight: medium;
    font-size: 1.6875rem;
    line-height: 2rem;
    letter-spacing: 0.084375rem;
    color: #121C28;
    margin-bottom: 2.25rem;
}
.qr{
    width: 17.375rem;
    margin-bottom: 10px;
}
.input-box{
    width: 100%;
    height: 4.875rem;
    position: relative;
    margin-bottom: 2.1875rem;
    border: 1px solid #2910C6;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
::placeholder{
    color: #A9A9A9;
    font-weight: medium;
    font-size: 2rem;
    line-height: 2.375rem;
    letter-spacing: 0.1rem;
}
.copy{
    position: absolute;
    right: 0.625rem;
    top: 1.5375rem;
    width: 1.5625rem;
}
input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 2rem;
    line-height: 2.375rem;
    letter-spacing: 0.1rem;
    padding-left: 1.25rem;
    background: none;
}
select {
    outline: none;
    border: none;
    font: normal normal medium 1.6875rem/2rem Neue Power;
    letter-spacing: 1.35px;
    color: #000000;
    height: 100%;
    background: local;
    margin-right: 10px;
}
.input-box span{
    position: absolute;
    right: 1.6875rem;
    top: 1.625rem;
    font-size: 1.6875rem;
    line-height: 2.375rem;
    letter-spacing: 0.1rem;
}
.input-box h6{
    letter-spacing: 1.35px;
    font-size: 1.6875rem;
    font-family: Neue power;
    color: #000000;
    margin-left: 1.25rem;
}
.bxs-dollar-circle, 
.bx-rupee{
    position: absolute;
    top: 1.375rem;
}
.bxs-dollar-circle{
    color: #2910C6;
    font-size: 2.1875rem;
    right: 65px;
}
.bx-rupee{
    background-color: #2910C6;
    color: #EEF2FF;
    border-radius: 50%;
    font-size: 12px;
    padding: 3px;
    right: 60px;
}
button{
    padding: 1.375rem 0;
    text-align: center;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 0.9375rem;
    cursor: pointer;
    font: normal normal normal 3.125rem/3.75rem Neue Power;
    letter-spacing: 0.15625rem;
    color: #EDEEF9;
    background: #2910C6 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 0.375rem #00000052;
    border-radius: 0.5rem;
}
.faq-container{
    display: flex;
    justify-content: left;
    padding: 8.6875rem;
}
.balance-sec{
    margin-bottom: 4.3125rem;
    padding-left: 8.6875rem;
    margin-right: 20px;
}
.balance-sec img{
    width: 4.0625rem;
    height: 4.0625rem;
}
.balance{
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
}
.balance h2{
    font: normal normal 900 4.6875rem/5.625rem Neue Power;
    letter-spacing: 3.75px;
}
.balance-sec > p{
    font: normal normal normal 2.25rem/2.6875rem Neue Power;
    letter-spacing: 0.1125rem;
    color: #121C28;
}
.balance-sec .amount {
    margin-left: 1rem;
    letter-spacing: 0.159375rem;
    color: #454C62;
    font-weight: medium;
    font-size: 3.1875rem;
    line-height: 3.8125rem;
}
.faq-sec {
    width: 100%;
}
.faq-sec h2{
    font: normal normal bold 5.625rem/6.75rem Neue Power;
    letter-spacing: 0.28125rem;
    color: #121C28;
    margin-bottom: 2.75rem;
}
.bxs-right-arrow{
    color: #2910C6;
    margin-right: 0.9375rem;
}
.faq-sec p{
    font: normal normal bold 2.8rem/3rem Neue Power;
    letter-spacing: 0.115625rem;
    padding-bottom: 0.875rem;
    border-bottom: 1px solid #2910C6;
    margin-bottom: 2.25rem;
}

@media(max-width:750px){
    #menu-icon{
        display: block;
    }
    .navbar{
        display: block;
        width: 50%;
        height: 100%;
        position: fixed;
        text-align: center;
        background-color: white;
        top: 8px;
        right: -100%;
        transition: all 0.4s ease-in-out;
        margin-top: -8px;
        z-index: 10;
    }
    .navbar li{
        padding: 20px 0;
    }
    .container{
        display: block;
        margin: auto;
        padding: 20px;
    }
    .sell-sec{
        margin-bottom: 30px;
        width: 100%;
        padding-bottom: 20px;
    }
}

